{%include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="">  
{% endblock  %}
  

{% block content %} 
<div class="container-fluid">
<div class="container">
  <form action="{% url 'search' %}">
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
      <input class="form-control" name="project" type="text" placeholder="Search Project" aria-label="Search">
    </div>
    <button class="btn btn-md btn-outline-secondary" type="submit">Search</button>
  </form>
</div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Title -->
    <h4 class="card-title h4 pb-2"><strong>Awards</strong></h4>
  
    <!-- Card image -->
    <div class="view overlay my-4">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <h5 class="indigo-text h5 mb-4">Photography</h5>
  
    <p class="card-text">Hello my comanding friend. lady Bernice...</p>
  
    <!-- Linkedin -->
    <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
    <!-- Twitter -->
    <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
    <!-- Dribbble -->
    <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>
  
  </div>
  <!-- Jumbotron -->
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
             <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="{{post.image.url}}"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">{{ post.project_name}}</h4>
    <!-- Text -->
    <p class="card-text">{{post.description}}</p>
    <!-- Button -->
    <a href="{% url 'post' post.id %}" class="btn btn-primary">View Project</a>

  </div>

</div>
<!-- Card -->                                                              
      </div>
      {% endfor %}
    </div>

</div>
{% endblock  %}
